.task-progress-widget {
  background-color: white;
  max-width: 820px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 16px;
  flex: 1;
  box-sizing: border-box;
}

.task-progress-widget .header {
  padding: 24px;
}

.task-progress-widget .header h2 {
  font-family: 'OpenSansBold';
  font-size: 22px;
  line-height: 24px;
}

.task-progress-widget .header .progress-bar-wrapper {
  background-color: #F2FBFA;
  width: 100%;
  border-radius: 24px;
  
}

.task-progress-widget .header .progress-bar-wrapper span {
  color: white;
  font-family: 'OpenSansSemiBold';
  font-weight: 600;
}

.accordeon .group-heading {
  display: flex;
  gap: 16px;
}

.accordeon .group-heading h3 {
  font-family: "OpenSansReg";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.accordeon ul {
  padding: 0;
}

.accordeon ul li {
  list-style: none;
}

.accordeon ul li label{
  margin-left: 16px;
  font-weight: 400;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active {
  border-color: #00B797;
  background: #00B797;
}