.task-progress-widget {
  background-color: white;
  max-width: 820px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 16px;
  flex: 1;
  box-sizing: border-box;
}

.task-progress-widget .header {
  padding: 24px;
}

.task-progress-widget .header h2 {
  font-family: 'OpenSansBold';
  font-size: 22px;
  line-height: 24px;
}

.task-progress-widget .header .progress-bar-wrapper {
  background-color: #F2FBFA;
  width: 100%;
  border-radius: 24px;
  
}

.task-progress-widget .header .progress-bar-wrapper span {
  color: white;
  font-family: 'OpenSansSemiBold';
  font-weight: 600;
}

.accordion {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
}

.accordion-row {
  padding: 24px;
  border-bottom: 1px solid #DDDDDD;
}

.accordion .group-heading {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  cursor: pointer;
}

.accordion .group-heading .heading-title {
  display: flex;
  gap: 16px;
}

.accordion .group-heading .heading-action {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #999999;
}

.accordion .group-heading .heading-action img {
  transform: rotate(180deg);
}

.accordion .group-heading .heading-action.active img {
  transform: rotate(0deg);
  transition: all .5s linear;
}

.accordion .group-heading h3 {
  font-family: "OpenSansReg";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.accordion ul {
  padding: 0;
}

.accordion ul li {
  list-style: none;
  padding: 16px;
  margin-bottom: 8px;
}

.accordion ul li label{
  font-weight: 400;
}

.accordion ul li label span {
  margin-left: 16px;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active {
  border-color: #00B797;
  background: #00B797;
}